<nav>
  <a class="menu" href="/"><img class="avatar" src="{{avatar}}" alt="avatar"></a>
  <a class="menu" href="/lakes">Lakes</a>
  <a class="menu" href="/fish">Add Catch</a>
  <a class="menu" href="/basket">My Basket</a>
  <a class="menu" href="/auth/logout">logout</a>
</nav>
{{#each fish}}
<section class="posting">
  <div class="current_entry_data">
    <img class="fish_img" src="http://sepond.com/images/uploads/content/fish/38/smallmouth-bass__medium.jpg">
    <p><span class="headings">Measurement: </span>{{this.measurement}}</p>
    <p><span class="headings">Species: </span>{{this.species}}</p>
    <p><span class="headings">Lake Caught On: </span>{{this.lake}}</p>
    <p><span class="headings">Date Caught: </span>{{this.date}}</p>
    <p><button id="{{this.id}}?lake={{this.lake}}" class="rm_fish_btn">Let Fish Go</button></p>
  </div>
  <form id="updateForm" method="POST" action="/">
        <div class="input">
          <label for="img">Image</label>
          <input type="file" name="myimg" required>
        </div>
        <div class="input">
          <label for="lake">Lake Caught on:</label>
          <input type="text" id="lake" name="lake" placeholder="Enter Lake">
        </div>
        <div class="input">
          <label for="species">Species:</label>
          <input type="text" id="species" name="species" placeholder="Enter Fish Species">
        </div>
        <div class="input">
          <label for="measurement">Fish Size:</label>
          <input type="text" id="measurement" name="measurement" placeholder="Enter Size">
        </div>
        <div class="input">
          <label for="date">Date Caught:</label>
          <input type="text" id="date" name="date" placeholder="Enter Date of Catch">
        </div>
        <div>
          <input type="submit" value="Update Catch">
        </div>
        <div>
          <input type="text" name="user" value="${req.session.user.name}">
        </div>
      </form>
</section>
{{/each}}
<script src="js/basket.js"></script>
