<nav>
  <a class="menu" href="/"><img class="avatar" src="{{avatar}}" alt="avatar"></a>
  <a class="menu" href="/fish">Add Catch</a>
</nav>
<table>
<tr><td class="th">Fish</td><td class="th">Weight</td><td class="th">Caught On</td><td class="th">Date Caught</td><td class="th">Modify</td></tr>
{{#each fish}}
<tr><td><img class="fish_img" src="{{this.imgURL}}"></td><td>{{this.weight}} pounds</td><td>{{this.lake}}</td><td>{{this.date}}</td><td><a id="{{this.id}}?lake={{this.lake}}" class="rm_fish_btn">Let Fish Go</a><br><a href="#" class="edit_fish">Edit Fish</a><br><form id="updateForm" method="POST" action="/fish/{{this.id}}" style="display: none" enctype="multipart/form-data">
        <div class="input">
          <!-- <label for="img">Image</label> -->
          <input type="file" name="myimg">
        </div>
        <div class="input">
          <!-- <label for="lake">Lake Caught on:</label> -->
          <input type="text" id="lake" name="lake" placeholder="Enter Lake">
        </div>
        <div class="input">
          <!-- <label for="species">Species:</label> -->
          <input type="text" id="species" name="species" placeholder="Enter Fish Species">
        </div>
        <div class="input">
          <!-- <label for="weight">Fish Size:</label> -->
          <input type="text" id="weight" name="weight" placeholder="Enter Weight">
        </div>
        <div class="input">
          <!-- <label for="date">Date Caught:</label> -->
          <input type="text" id="date" name="date" placeholder="Enter Date of Catch">
        </div>
        <div>
          <input class="submit_btn" type="submit" value="Update Catch">
        </div>
      </form></td></tr>
{{/each}}
</table>
<script src="js/basket.js"></script>
