<nav>
  <a class="menu" href="/"><img class="avatar" src="{{avatar}}" alt="avatar"></a>
  <a class="menu" href="/fish">Add Catch</a>
</nav>
<table>
<tr><td class="th">Fish</td><td class="th">Weight</td><td class="th">Caught On</td><td class="th">Date Caught</td><td class="th">Form</td></tr>
{{#each fish}}
<tr><td><img class="fish_img" src="{{this.imgURL}}"></td><td><span contenteditable="true">{{this.weight}}</span> pnds</td><td>{{this.lake}}</td><td>{{this.date}}</td><td></tr>
<!-- <section class="posting">
  <div class="current_entry_data">
    <img class="fish_img" src="{{this.imgURL}}">
    <p><span class="headings">Weight: </span>{{this.weight}}</p>
    <p><span class="headings">Species: </span>{{this.species}}</p>
    <p><span class="headings">Lake Caught On: </span>{{this.lake}}</p>
    <p><span class="headings">Date Caught: </span>{{this.date}}</p>
    <p><button id="{{this.id}}?lake={{this.lake}}" class="rm_fish_btn">Let Fish Go</button></p>
  </div>
  <form id="updateForm" method="POST" action="/fish/{{this.id}}" enctype="multipart/form-data">
        <div class="input">
          <label for="img">Image</label>
          <input type="file" name="myimg">
        </div>
        <div class="input">
          <label for="lake">Lake Caught on:</label>
          <input type="text" id="lake" name="lake" placeholder="Enter Lake">
        </div>
        <div class="input">
          <label for="species">Species:</label>
          <input type="text" id="species" name="species" placeholder="Enter Fish Species">
        </div>
        <div class="input">
          <label for="weight">Fish Size:</label>
          <input type="text" id="weight" name="weight" placeholder="Enter Size">
        </div>
        <div class="input">
          <label for="date">Date Caught:</label>
          <input type="text" id="date" name="date" placeholder="Enter Date of Catch">
        </div>
        <div>
          <input class="submit_btn" type="submit" value="Update Catch">
        </div>
      </form>
</section> -->
{{/each}}
</table>
<script src="js/basket.js"></script>
