<nav>
  <a class="menu" href="/"><img class="avatar" src="{{avatar}}" alt="avatar"></a>
  <a class="menu" href="/lakes">Lakes</a>
  <a class="menu" href="/fish">Add Catch</a>
  <a class="menu" href="/basket">My Basket</a>
  <a class="menu" href="/auth/logout">logout</a>
</nav>
<section>
  {{title}}
  {{#each fish}}
  <div>
    <img class="fish_img" src="http://sepond.com/images/uploads/content/fish/38/smallmouth-bass__medium.jpg">
    <p><span class="headings">Measurement: </span>{{this.measurement}}</p>
    <p><span class="headings">Species: </span>{{this.species}}</p>
    <p><span class="headings">Lake Caught On: </span>{{this.lake}}</p>
    <p><span class="headings">Date Caught: </span>{{this.date}}</p>
    <p><span class="headings">Caught By: </span>{{this.username}}</p>
  </div>
  {{/each}}
</section>
