<nav>
  <a class="menu" href="/"><img class="avatar" src="{{avatar}}" alt="avatar"></a>
  <a class="menu" href="/lakes">Lakes</a>
</nav>
<h1 class="centered">{{title}}</h1>
<section>
  <table id="wof">
  <tr><td class="th">Lake</td><td class="th">User</td><td class="th">Weight</td><td class="th">Species</td><td class="th">Fish</td></tr>
  {{#each highScores}}
  <tr><td>{{this.lake}}</td><td>{{this.username}}</td><td>{{this.weight}} pnds</td><td>{{this.species}}</td><td><img class="fish_img" src="{{this.imgURL}}"></td></tr>
  <!-- <div>
    <img class="fish_img" src={{this.imgURL}}>

    <p><span class="headings">User: </span>{{this.username}}</p>
    <p><span class="headings">Weight: </span>{{this.weight}}</p>
    <p><span class="headings">Species: </span>{{this.species}}</p>
    <p><span class="headings">Lake Caught On: </span>{{this.lake}}</p>
  </div> -->
  {{/each}}
  </table>
</section>
